body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    font: 10pt Inter, Arial, Helvetica, sans-serif;
}
#titolo {
    background-color: #fe9b02;
    position: absolute;
    top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    width: 10%;
    z-index: 400000;
    border-radius: 4px;
    font-size: 14.4pt;
    font-family: Inter;
    font-weight: bold;
    color: #fff;
    text-align: : center;
    line-height: 40px;
    border: 1px solid;
  }

.lorem {
    text-align: justify;
    font-size: 14px;
    color: #000000;
}